<head>
<!-- <link rel="stylesheet" href="./public/css/style.css" type="text/css" /> -->
<h2 class="page-header">Dashboard</h2>
<title>Joy Sauce App</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<p>Welcome to your dashboard</p>
<body>
<div id="interest-button-div"></div>
                    <div class="container-fluid">
                            <div class="row">
                                <div class="myMeetups col-5 p-4 border border-solid border-info">
                                    <h1>My Meetups </h1><br>
                                    <div id="myMeetupsItems"></div>
                                </div>

                                <div class="allMeetups col-5 offset-2 p-4 border border-solid border-info">
                                    <h1> All Meetups </h1><br>
                                    <div id="allMeetupsItems"></div>
                                </div>
                            </div>

                            <div class="text-center">
                                    <h1>Meetup Info</h1>
                                    <div class="meetupInfo col-12 p-4 border border-solid border-info my-5">

                            </div>
                    </div>

    <script src="/js/frontend.js"></script>
    <script src="/js/meetupsInfo.js"></script>
</body>
