<head>
<!-- <link rel="stylesheet" href="./public/css/style.css" type="text/css" /> -->
<h2 class="page-header">Dashboard</h2>
<title>Joy Sauce App</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<p>Welcome to your dashboard</p>
<body>
<div id="interest-button-div"></div>
                    <div class="panel-container">
                        <div class="left-panel">
                                <div class="username" value="username">Username USERNAME CLASS</div>
                                <div class="email" value="email">Email EMAIL CLASS</div>
                                <div id="additional"></div>
                        </div>
                        <div class="right-panel">
                            <h1>Right Panel Content</h1><br>
                            <div id="small-pane"></div>
                        </div>
                    </div>
                    <button class="btn btn-info text-white" type="Submit" value='Post'><a href='/createmeet'>Meet up</a></button>

    <script src="/js/frontend.js"></script>
</body>
