<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
    <form id="signin" name="signin" method="post" action="signin">
      <div class="form-group">
        <label for="username">Email</label>
        <input id="signin-email" class="form-control" name="email" data-name="email" type="text" placeholder="Email" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input name="password" type="password" class="form-control" placeholder="Password"/>
      </div>
        <input class="btn btn-primary userNameCapture" type="submit" value="Sign-in" />
    </form>
    <script type="text/javascript" src="/js/userNameCapture.js"></script>
